@import '../../mixins';

// POST INFO
.post-info {
  @include df-center;
  justify-content: space-between;

  .post-date {
    padding-left: 8px;
    font-size: 12px;
  }

  .like-container {
    @include df-center;

    .like-counter {
      font-size: 14px;
    }

    .like-icon,
    .like-icon-active,
    .like-icon-disabled {
      padding: 8px;
      font-size: 18px;
      cursor: pointer;
      @include transition-props(color, 0.2s);
    }

    .like-icon-active {
      color: $secondary-color;
    }

    .like-icon-disabled {
      cursor: default;
      color: $black-color;
    }
  }
}
