/*
 * signup -> form
 */
.signup-form {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form__label {
  font-size: 16px;
  font-weight: bold;
}

.signup-form__text-input {
  padding: 0 5px;
  margin: 10px 0;
  width: 250px;
  height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  outline: 0;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
}

.signup-form__text-input:focus {
  border: 2px solid var(--secondary-color);
}

.signup-form__text-input.warning {
  border: 2px solid var(--secondary-color);
}

/*
 * signup -> form -> buttons
 */
.signup-form__submit-input,
.signup-form__redirection-link {
  padding: 10px 0;
  margin: 15px 0 0;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  border-radius: 3px;
  transition: border 0.1s, background-color 0.1s, color 0.1s;
  cursor: pointer;
}

.signup-form__submit-input {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.signup-form__redirection-link {
  margin: 0;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.signup-form__submit-input:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

.signup-form__redirection-link:hover {
  color: var(--secondary-color);
  background-color: var(--white-color);
}

/*
 * signup -> form -> warning list
 */
.signup-form__warning-list {
  width: 80%;
}

.warning-list__warning-item {
  margin: 15px auto;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
}

.warning-list__warning-item:first-child {
  color: var(--black-color);
}
