/*
 * all followed
 */
.all-followed {
  padding: 20px 0;
  margin: 50px auto 200px;
  position: relative;
  width: 100%;
  max-width: 768px;
  text-align: center;
  background-color: var(--background-color-primary);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/*
 * all followed -> header
 */
.all-followed__header {
  margin: 0 0 15px;
  font-size: 22px;
}

.all-followed__header-icon {
  margin: 0 0 0 15px;
  font-size: 24px;
  color: var(--primary-color);
}

/*
 * all followed -> list -> info
 */
.all-followed__info {
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*
 * all-followed -> media
 */
@media screen and (min-width: 576px) {
  .all-followed__list {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .all-followed {
    border: 2px solid var(--primary-color);
  }
}
