@import '../../../mixins';

// PROFILE DATA
.profile-data {
  position: relative;
  @include df-center;
  flex-direction: column;
  min-height: 227px;

  .profile-avatar {
    margin: 10px 0;
    position: relative;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
  }

  .profile-name {
    margin: 0 0 9px;
    font-size: 22px;
    font-weight: bold;
  }
}
