@import '../mixins';

// DOWNBAR INFO
.downbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: slide 1.5s ease-in-out;
  -webkit-animation: slide 1.5s ease-in-out;
  @include transform-props(translateY(100px));

  .downbar-content {
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    color: $white-color;
  }
}

.downbar-bg-green {
  background-color: $primary-color;
}

.downbar-bg-orange {
  background-color: $secondary-color;
}

// DOWNBAR ANIMATION
@keyframes slide {
  0% {
    @include transform-props(translateY(100px));
  }
  20% {
    @include transform-props(translateY(0));
  }
  80% {
    @include transform-props(translateY(0));
  }
  100% {
    @include transform-props(translateY(100px));
  }
}
