/*
 * login
 */
.login {
  padding: 20px 0;
  margin: 50px auto 200px;
  position: relative;
  width: 100%;
  max-width: 768px;
  text-align: center;
  background-color: var(--background-color-primary);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.login-popup {
  margin: 0 auto;
  z-index: 1000;
}

/*
 * login -> header
 */
.login__header {
  margin: 0 0 15px;
  font-size: 22px;
}

.login__header-icon {
  margin: 0 0 0 15px;
  color: var(--primary-color);
}

/*
 * login -> media
 */
@media screen and (min-width: 768px) {
  .login {
    border: 2px solid var(--primary-color);
  }
}
