/*
 * app
 */
.App-social {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--background-color-black) 0%, var(--background-color-black) 100%), url('./background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Quicksand', cursive;
  color: var(--black-color);
  min-height: 100vh;
}

/*
 * app -> header
 */
.App-header {
  padding: 20px 0;
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-white);
  border-bottom: 2px solid var(--black-color);
}

.App-header-text {
  margin: 0;
  font-size: 38px;
}

.App-header-link {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

.App-header-linkIcon {
  margin: 0 0 0 15px;
  font-size: 36px;
  color: var(--blue-color);
}

/*
 * app -> footer
 */
.App-social .App-footer {
  padding: 25px 0;
  margin-top: auto;
  border-top: 2px solid var(--black-color);
  background-color: var(--background-color-white);
}

.App-footer-text {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.App-footer-icon {
  margin: 0 5px;
  font-size: 20px;
  color: var(--blue-color);
}

/*
 * popup background
 */
.App-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-black);
  z-index: 1000;
}

/*
 * closer icon
 */
.Closer,
.Closer-link {
  padding: 10px 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: var(--red-color);
  cursor: pointer;
}

.Closer:hover,
.Closer-link:hover {
  color: var(--blue-color);
}

/*
 * follow / unfollow icon
 */
.FollowIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--white-color);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

.Dashboard-users-recommendedUsersItem .FollowIcon,
.Dashboard-searchedUserResult .FollowIcon {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: var(--green-color);
}

.Wall-postItem .FollowIcon {
  background-color: var(--red-color);
}

.Dashboard-searchedPostResult-listItem .FollowIcon {
  width: 35px;
  height: 35px;
  font-size: 16px;
  background-color: var(--red-color);
}

.AllFollowed-listItem .FollowIcon {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background-color: var(--red-color);
}

.Dashboard-users-recommendedUsersItem:hover .FollowIcon,
.Wall-postItem:hover .FollowIcon,
.Dashboard-searchedPostResult-listItem:hover .FollowIcon,
.Dashboard-searchedUserResult-user:hover .FollowIcon,
.AllFollowed-listItem:hover .FollowIcon {
  opacity: 1;
}

/*
 * preloader
 */
.Preloader-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 80px;
  background-color: var(--background-color-white);
  border: 2px solid var(--black-color);
}

.Preloader-container .Preloader {
  width: 50px;
  height: 50px;
  border: 10px solid var(--blue-color);
  border-top: 10px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear infinite;
}

.Show-preloader {
  display: flex;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
