/*
 * app
 */
.app-social {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      var(--background-color-secondary) 0%,
      var(--background-color-secondary) 100%
    ),
    url('./images/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Quicksand', cursive;
  color: var(--black-color);
  min-height: 100vh;
}

/*
 * app -> header
 */
.app-social__app-header {
  padding: 15px 0;
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-primary);
  border-bottom: 2px solid var(--primary-color);
}

.app-header__content {
  margin: 0;
  font-size: 32px;
}

.app-header__link {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

.app-header__link-icon {
  margin: 0 0 0 15px;
  font-size: 30px;
  color: var(--secondary-color);
}

/*
 * app -> footer
 */
.app-social__app-footer {
  padding: 20px 0;
  margin-top: auto;
  background-color: var(--background-color-primary);
  border-top: 2px solid var(--primary-color);
}

.app-footer__content {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.app-footer__icon {
  margin: 0 5px;
  font-size: 20px;
  color: var(--secondary-color);
}

/*
 * popup background
 */
.app-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-popup-color);
  z-index: 1000;
}

/*
 * closer icon
 */
.Closer,
.Closer-link {
  padding: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: var(--secondary-color);
  transition: color 0.1s;
  cursor: pointer;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}

.Closer:hover,
.Closer-link:hover {
  color: var(--primary-color);
}
