/*
 * nav
 */
.Nav {
  height: auto;
  background-color: var(--background-color-primary);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.Nav-sticky {
  position: sticky;
  top: -2px;
}

.Nav-onScroll {
  box-shadow: 0 10px 30px 5px var(--black-color);
}

/*
* nav -> list
*/
.Nav-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 768px;
}

.Nav-listItem {
  padding: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.Nav-listItem-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

/* .Nav-link-onScroll {
  transform: scaleX(.8);
} */

/*
 * nav -> list -> icons
 */
.Nav-listItem-linkIcon {
  padding: 0 0 5px 0;
  font-size: 20px;
  color: var(--secondary-color);
  transition: color .1s;
}

.Nav-listItem-link:hover .Nav-listItem-linkIcon {
  color: var(--primary-color);
}
