/*
 * confirmation popup
 */
.ConfirmationPopup {
  position: fixed;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 768px;
  background-color: var(--background-color-white);
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

/*
 * confirmation popup -> text
 */
.ConfimationPopup-text {
  margin: 20px 0;
  width: 80%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*
 * confirmation popup -> buttons
 */
.ConfirmationPopup-buttonBox {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.ConfirmationPopup-button {
  margin: 0 10px;
  padding: 7px 0;
  width: 80px;
  font-size: 24px;
  color: var(--white-color);
  cursor: pointer;
}

.ConfirmationPopup-button.Confirm {
  background-color: var(--green-color);
  border: 2px solid var(--green-color);
}

.ConfirmationPopup-button.Deny {
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
}

.ConfirmationPopup-button.Confirm:hover {
  background-color: var(--white-color);
  color: var(--green-color);
}

.ConfirmationPopup-button.Deny:hover {
  background-color: var(--white-color);
  color: var(--red-color);
}

/*
 * media
 */
@media screen and (min-width: 576px) {
  .ConfirmationPopup-buttonBox {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .ConfirmationPopup {
    border: 2px solid var(--black-color);
  }
}
