/*
 * signup
 */
.Signup {
  padding: 30px 0;
  margin: 50px auto 200px;
  position: relative;
  width: 100%;
  max-width: 768px;
  text-align: center;
  background-color: var(--background-color-white);
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

/*
 * signup -> header
 */
.Signup-header {
  margin: 0 0 30px;
  font-size: 26px;
}

.Signup-headerIcon {
  margin-left: 15px;
  color: var(--blue-color);
}

/*
 * signup -> form
 */
.Signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup-form-label {
  font-size: 18px;
  font-weight: bold;
}

.Signup-form-textInput {
  padding: 5px;
  margin: 10px 0;
  width: 250px;
  font-family: 'Quicksand', sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  outline: 0;
}

.Signup-form-textInput:focus {
  border: 2px solid var(--blue-color);
}

.Signup-form-textInput.Warning {
  border: 2px solid var(--red-color);
}

/*
 * signup -> form -> buttons
 */
.Signup-form-submitInput,
.Signup-form-redirectionLink {
  padding: 10px 0;
  margin: 20px 0 0;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
}

.Signup-form-submitInput {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--green-color);
  border: 2px solid var(--green-color);
}

.Signup-form-redirectionLink {
  margin: 0;
  text-decoration: none;
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.Signup-form-submitInput:hover {
  color: var(--green-color);
  background-color: var(--white-color);
}

.Signup-form-redirectionLink:hover {
  color: var(--blue-color);
  background-color: var(--white-color);
}

/*
 * signup -> form -> warning list
 */
.Signup-form-warningList {
  width: 80%;
}

.Signup-form-warningItem {
  margin: 20px auto;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--red-color);
}

.Signup-form-warningItem:first-child {
  font-size: 16px;
  color: var(--black-color);
}

/*
 * media
 */
@media screen and (min-width: 768px) {
  .Signup {
    border: 2px solid var(--black-color);
  }
}
