/*
 * wall
 */
.Wall {
  position: relative;
}

/*
 * wall -> post list
 */
.Wall-postList {
  margin: 200px auto 0;
  position: relative;
  width: 100%;
  max-width: 768px;
}

.Wall-postItem {
  padding: 20px 20px 0;
  margin: 0 0 50px;
  position: relative;
  list-style: none;
  background-color: var(--background-color-white);
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

.Wall-postItem:last-child {
  margin: 0 0 200px;
}

/*
 * wall -> post list -> author
 */
.Wall-postItem-author {
  margin: 0 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.Wall-postItem-author-avatar {
  margin: 0 15px 0 0;
  width: 40px;
  border-radius: 50%;
}

.Wall-postItem-author-name {
  font-size: 18px;
  font-weight: bold;
}

/*
 * wall -> post list -> content
 */
.Wall-postItem-content {
  padding: 8px 10px;
  font-size: 15px;
  color: var(--white-color);
  background-color: var(--blue-color);
}

/*
 * wall -> post list -> post data
 */
.Wall-postItem-postInfo {
  padding: 0 0 0 10px;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.Wall-postItem-postInfo-likeBox {
  display: flex;
  align-items: center;
}

.Wall-postItem-postInfo-likeBox-icon {
  padding: 10px;
  font-size: 20px;
  color: var(--black-color);
  cursor: pointer;
}

.Wall-postItem-postInfo-likeBox-icon.Post-liked {
  color: var(--red-color);
}

/*
 * media
 */
@media screen and (min-width: 768px) {
  .Wall-postItem {
    border: 2px solid var(--black-color);
  }
}
