/*
 * nav
 */
.nav {
  height: auto;
  background-color: var(--background-color-primary);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.nav-sticky {
  position: sticky;
  top: -2px;
}

.nav-on-scroll {
  box-shadow: 0 10px 30px 5px var(--black-color);
}

/*
* nav -> list
*/
.nav-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 768px;
}

.nav-list__list-item {
  padding: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.list-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

/*
 * nav -> list -> icons
 */
.list-item__link-icon {
  padding: 0 0 5px 0;
  font-size: 20px;
  color: var(--secondary-color);
  transition: color .1s;
}

.list-item__link:hover .list-item__link-icon {
  color: var(--primary-color);
}