/*
 * like-box
 */
.like-box {
  display: flex;
  align-items: center;
}

.like-box__counter {
  font-size: 14px;
}

.post-info__post-date {
  padding: 10px 0 10px 8px;
}

/*
 * like-box -> icon
 */
.like-box__icon,
.like-box__icon--active {
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.like-box__icon {
  color: var(--black-color);
}

.like-box__icon--active {
  color: var(--secondary-color);
}

.like-box__icon--disabled {
  padding: 8px;
  font-size: 20px;
  cursor: default;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
